{% extends 'webapp/base.html' %}
{% block title %}Over - MorKI{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Over MorKI</h1>

    <div class="row justify-content-center">
        <div class="col-lg-10">
            <p class="lead text-center">
                MorKI (Morfologie + Kunstmatige Intelligentie) is een AI-tool ontworpen om leerkrachten in het basisonderwijs te ondersteunen bij het creëren van op maat gemaakte oefeningen met betrekking tot morfologie. 
                Door gebruik te maken van AI, kunnen leerkrachten eenvouding opgaven maken voor leerlingen, zodat zij meer inzicht krijgen in de opbouw van woorden.
            </p>
        </div>
    </div>

    <div class="row mt-1 g-4">
        <div class="col-md-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">🎯 Ons doel</h5>
                    <p class="card-text">Onderwijs op het gebied van morfologie toegankelijker en effectiever maken door AI te gebruiken bij het voorbereiden van de lessen.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">⚙️ Wat doet MorKI?</h5>
                    <p class="card-text">MorKI analyseert ingevoerde teksten, herkent morfemen, en genereert automatisch oefeningen afgestemd op het niveau van de leerling.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">💡 Waarom Morfologie?</h5>
                    <p class="card-text">Begrip van woordstructuur draagt bij aan de verbetering van woordenschat en leesvaardigheid. DIt zijn essentiële vaardigheden voor leerlingen.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-5">
        <!-- <h4>Ontwikkeld door een team van studenten met expertise in AI en onderwijs</h4> -->
        <p class="text-muted">Ontwikkeld door een team van studenten aan de Radboud Universiteit met expertise in AI en onderwijs</p>
    </div>
</div>
{% endblock %}
