{% extends 'webapp/base.html' %}
{% block title %}Help - MorKI{% endblock %}
{% block content %}

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<div class="container mt-5 text-center mb-4">
    <h1 class="display-4">Veelgestelde vragen</h1>
    <p class="lead text-muted">Hier vindt u antwoorden op de meest gestelde vragen over MorKI.</p>
    <div class="accordion mt-4" id="faqAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q1" aria-expanded="true" aria-controls="q1">
                    Wat is MorKI?
                </button>
            </h2>
            <div id="q1" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    MorKI is een website waarmee Nederlandse morfologie oefeningen van verschillende moeilijkheidsniveaus automatisch gegenereerd kunnen worden. Hiermee kunnen basisschoolleraren het leesbegrip en de woordenschat van leerlingen verbeteren.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q2" aria-expanded="false" aria-controls="q2">
                    Hoe werkt MorKI?
                </button>
            </h2>
            <div id="q2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    MorKI gebruikt grote taalmodellen (<i>Large Language Models</i>) om Nederlandse teksten te analyseren, morfemen (voorvoegsels, achtervoegsels en grondwoorden) te identificeren en op maat gemaakte oefeningen te genereren met verschillende moeilijkheidsgraden op basis van de taxonomie van Bloom.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q3" aria-expanded="false" aria-controls="q3">
                    Voor wie is MorKI bedoeld?
                </button>
            </h2>
            <div id="q3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    MorKI is bedoeld voor Nederlandse basisschoolleraren. In het bijzonder voor leerkrachten van groep 6 tot en met 8 (kinderen van 9 tot en met 12 jaar) die morfologie onderwijs efficiënter in hun taalcurriculum willen integreren.
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q4" aria-expanded="false" aria-controls="q4">
                    Is er een limiet aan de lengte van de teksten die ik kan invoeren?
                </button>
            </h2>
            <div id="q4" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Ja, er is een limiet van 1200 woorden. Dit komt doordat het AI model dat gebruikt wordt per woord kosten met zich meebrengt.
                </div>
            </div>
        </div>



        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q5" aria-expanded="false" aria-controls="q5">
                    Waarop wordt gebaseerd welke woorden uit de tekst geselecteerd worden voor oefeningen?
                </button>
            </h2>
            <div id="q5" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    De woorden die worden gebruikt, zijn door het AI-model gemarkeerd als de belangrijkste of meest betekenisvolle woorden in de context.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q6" aria-expanded="false" aria-controls="q6">
                    Kan ik zelf woorden uit de tekst selecteren om oefeningen mee te maken?
                </button>
            </h2>
            <div id="q6" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Ja! Je kunt met je muis over de invoertekst bewegen en zo woorden uit de tekst selecteren. Je kunt hierbij zelfs het type oefening kiezen dat je wilt toevoegen.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q7" aria-expanded="false" aria-controls="q7">
                    Kan ik wijzigingen aanbrengen in de door MorKI gegenereerde oefeningen?
                </button>
            </h2>
            <div id="q7" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Ja! Met MorKI kan je verschillende soorten wijzigingen toepassen op de gegenereerde oefeningen. Je kunt oefeningen toevoegen, wijzigen of verwijderen, en ook je eigen gemaakte oefeningen toevoegen.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q9" aria-expanded="false" aria-controls="q9">
                    Is het mogelijk om de opdrachten met daarbij ook de antwoorden te printen?
                </button>
            </h2>
            <div id="q9" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Ja! MorKI biedt je de mogelijkheid om zowel de docentenversie met de opdrachten en antwoorden te downloaden als de studentenversie met enkel de opdrachten.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q10" aria-expanded="false" aria-controls="q10">
                    Kan ik de oefeningen als een Microsoft Office Word-document krijgen?
                </button>
            </h2>
            <div id="q10" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Ja! Kopieer en plak de oefeningen eenvoudig uit het pdf-bestand naar een Word-document. Selecteer tijdens het plakken de optie 'Alleen tekst behouden' om de juiste opmaak te garanderen.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
