{% extends 'webapp/base.html' %}
{% block title %}Home - MorKI{% endblock %}
{% block content %}
{% load static %}

<div class="home-container text-center">
    <!-- <h1 class="display-3">MorKI</h1> -->
    <img src="/static/logo.png" style="width: 50%;" alt="MorKI Logo" class="navbar-brand">
    <p class="lead">
        Een interactieve tool voor leerkrachten om hen door middel van AI te helpen bij het maken van opgaven 
        op het gebied van morfologie aan de hand van een geïmporteerde tekst.
    </p>
    <div class="d-flex align-items-center">
        <a href="{% url 'generate' %}">
            <button class="btn btn-primary btn-lg rounded-pill px-4 shadow-sm me-3">
                <i class="bi bi-play-fill me-2"></i> Start
            </button>
        </a>

        <a href="/about">
            <button class="btn btn-outline-secondary btn-lg rounded-pill px-4 shadow-sm">
                <i class="bi bi-info-circle me-2"></i> Info
            </button>
        </a>
    </div>


</div>

<style>
    body {
        margin: 0;
        background: url("{% static 'bg3.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }

    .home-container {
        max-width: 800px;
        margin: auto;
        /* padding: 50px 20px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }

    .display-3 {
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
    }

    .lead {
        font-size: 1.3rem;
        color: #555;
        margin-bottom: 30px;
    }

    .start-btn {
        color: black;
        font-size: 1.5rem;
        padding: 15px 40px;
        border: 2px solid black;
        border-radius: 12px;
        transition: all 0.2s ease-in-out;
    }

    .start-btn:hover {
        /* background-color: #17a2b8; */
        color: white;
        transform: scale(1.05);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
</style>
{% endblock %}
